@model IEnumerable<Trasgressori.Models.TipoViolazione>

@{
    ViewData["Title"] = "Gestione Violazioni";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Create", "TipoViolazione")">Aggiungi Violazione</a></li>
                <li><a href="@Url.Action("Index", "Anagrafica")">Gestione Trasgressori</a></li>
                <li><a href="@Url.Action("Index", "Verbale")">Gestione Verbali</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>@ViewData["Title"]</h1>
        <table>
            <thead>
                <tr>
                    <th>Descrizione</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Descrizione</td>
                    </tr>
                }
            </tbody>
        </table>
    </main>
</body>
</html>
